@charset "utf-8";
.menu-main{width: 100%;height: auto;margin-bottom: 365px;}
.menu-main-address{background:rgba(245,245,245,1);line-height: 40px;}
.menu-main-address a{font-size:12px ;}
.menu-main-address-a1{color:rgba(107,107,107,1);}
.menu-main-address-a2{color:rgba(37,37,37,1);}
.menu-main-bgimg-span{right:15%;top: 70px;color: white;font-size: 40px;font-weight: bold;text-shadow:2px 2px 3px #4a4a4a ;}
.menu-main-title-span{width: 0px;height: 0px;left: 49.5%;top:65px;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid rgba(48,157,226,1);}
.menu-main-title-p1{font-size:30px;font-weight:400;color:rgba(48,157,226,1);text-align: center;}
.menu-main-title-p2{width: 100px;height: 6px;background-color:rgba(48,157,226,1);margin:0 auto;margin-top: 33px;}
.menu-main-title-p3{height: 4px;margin-left: -15px;background-color:rgba(48,157,226,1);}
.menu-main-product{margin-bottom: 60px;}
.menu-main-product-border{width: 25%;height: 300px;border: 1px solid #8c8c8c;border-radius: 15px;}
.menu-main-product-border img{margin: 34px 70px 32px 70px;}
.menu-main-product-desc-p1{margin-top: 40px;margin-left: 42px;margin-right: 62px;font-size:22px;font-weight:bold;color: #898989;}
.color-6C6C6C{color: #6C6C6C;}
.color-6C6C6C a{color: #6C6C6C;font-family:SourceHanSansCN-Normal;}
.color-6C6C6C p{font-weight: 500;font-family:SourceHanSansCN-Normal;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.color-6C6C6C p a:hover{text-decoration:none;color: #6C6C6C;}